*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* COLORS */
    --bg-primary-color: hsla(240, 20%, 99%, 1);
    --bg-secondary-color: hsla(210, 2%, 85%, 1);
    --border-color: hsla(210, 2%, 80%, 1);
    --text-primary-color: hsla(240, 20%, 99%, 1);
    --text-secondary-color: hsla(220, 2%, 75%, 1);
    --accent-color: hsla(220, 80%, 70%, 1);
    --accent-color-hover: hsla(220, 70%, 40%, 1);
    --shadow-light: hsla(220, 0%, 25%, .5);
    --shadow-dark: hsla(220, 0%, 10%, .5);
  
      /* FONT-SIZEs */
    --font-size-base: clamp(16px, 1vw + 1rem, 20px);
    --font-size-p: clamp(1.00rem, 0.8vw + 1rem, 1.25rem);      
    --font-size-small: clamp(0.80rem, 0.5vw + 0.8rem, 1rem);    
    --font-size-h6: clamp(1.25rem, 1vw + 1rem, 1.5rem); 
    --font-size-h5: clamp(1.56rem, 1.2vw + 1.1rem, 2rem); 
    --font-size-h4: clamp(1.95rem, 1.5vw + 1.2rem, 2.5rem); 
    --font-size-h3: clamp(2.44rem, 2vw + 1.5rem, 3rem);    
    --font-size-h2: clamp(3.05rem, 2.5vw + 1.5rem, 4rem);  
    --font-size-h1: clamp(3.81rem, 3vw + 1.5rem, 5rem);    

      /* PADDINGS */
    --padding-xs: clamp(0.4rem, 1vw, 0.5rem);
    --padding-s: clamp(0.5rem, 1.2vw, 0.75rem);
    --padding-l: clamp(0.75rem, 1.5vw, 1rem);
    --padding-m: clamp(0.9rem, 1.8vw, 1.25rem);
    --padding-x: clamp(1rem, 2vw, 1.5rem);
    --padding-xx: clamp(1.1rem, 2.2vw, 1.75rem);
    --padding-xxl: clamp(1.25rem, 2.5vw, 2rem);
    --padding-xxxl: clamp(1.5rem, 2.8vw, 2.25rem);
    --padding-xxxxl: clamp(1.75rem, 3vw, 2.5rem);
    --padding-xxxxxl: clamp(2rem, 3.2vw, 2.75rem);
    --padding-xxxxxxl: clamp(2.25rem, 3.5vw, 3rem);

      /* MARGINS */
    --margin-xs: clamp(0.4rem, 1vw, 0.5rem);
    --margin-s: clamp(0.5rem, 1.2vw, 0.75rem);
    --margin-l: clamp(0.75rem, 1.5vw, 1rem);
    --margin-m: clamp(0.9rem, 1.8vw, 1.25rem);
    --margin-x: clamp(1rem, 2vw, 1.5rem);
    --margin-xx: clamp(1.1rem, 2.2vw, 1.75rem);
    --margin-xxl: clamp(1.25rem, 2.5vw, 2rem);
    --margin-xxxl: clamp(1.5rem, 2.8vw, 2.25rem);
    --margin-xxxxl: clamp(1.75rem, 3vw, 2.5rem);
    --margin-xxxxxl: clamp(2rem, 3.2vw, 2.75rem);
    --margin-xxxxxxl: clamp(2.25rem, 3.5vw, 3rem);

      /* GAPS */
    --gap-xs: clamp(0.4rem, 1vw, 0.5rem);
    --gap-s: clamp(0.5rem, 1.2vw, 0.75rem);
    --gap-l: clamp(0.75rem, 1.5vw, 1rem);
    --gap-m: clamp(0.9rem, 1.8vw, 1.25rem);
    --gap-x: clamp(1rem, 2vw, 1.5rem);
    --gap-xx: clamp(1.1rem, 2.2vw, 1.75rem);
    --gap-xxl: clamp(1.25rem, 2.5vw, 2rem);
    --gap-xxxl: clamp(1.5rem, 2.8vw, 2.25rem);
    --gap-xxxxl: clamp(1.75rem, 3vw, 2.5rem);
    --gap-xxxxxl: clamp(2rem, 3.2vw, 2.75rem);
    --gap-xxxxxxl: clamp(2.25rem, 3.5vw, 3rem);

      /*BORDER RADIUS*/
    --border-radius-small: .5rem;
    --border-radius-medium: .8rem;
    --border-radius-large: 1rem;
}

h1, h2, h3, h4, h5{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

html{
  scroll-behavior: smooth;
}

body{
  max-width: 1366px;
  margin: auto;
}

#root{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 102% min-content;
  grid-template-areas: 
  "today yesterday"
  "nextdays nextdays"
  ;
  height: 100dvh;
  padding: var(--padding-l);
  background-color: var(--bg-primary-color);
  gap: var(--gap-xs) var(--gap-xs);
  justify-content: center;
}

main{
  grid-area: today;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 5% 20% 10% 40% 10%;
  grid-template-areas: 
  "day day"
  "temperature weather_code"
  "temperature hours_container"
  "day_temperatures_minmax_container hours_container"
  "current_time hours_container"
  ;
  gap: var(--gap-l) var(--gap-l);
}


main, .yesterday_weather, .next_days{
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--shadow-dark);
  border-radius: var(--border-radius-small);
  padding: var(--padding-xs);
}

.day{
  grid-area: day;
  font-size: var(--font-size-h4);
  justify-self: center;
  font-weight: 900;
  color: var(--text-primary-color);
}

main h1{
  grid-area: temperature;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs) 0;
  text-align: center;
  color: var(--text-primary-color);
}

main h1 .temperature{
  font-size: calc(var(--font-size-h1) + 1rem);
  font-weight: 900;
}

main h1 .feels_like{
  font-weight: 100;
  font-size: var(--font-size-h6);
}

main h1 .apparent_temperature{
  font-weight: 100;
  font-size: var(--font-size-h6);
}

.weather{
  grid-area: weather_code;
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

main .day_temperatures_minmax_container{
  grid-area: day_temperatures_minmax_container;
  display: flex;
  gap: 0 var(--gap-xs); 
  justify-content: space-between;
  justify-self: center;
}

.day_temperature_minmax{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-primary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-small);
  height: 70%;
  box-shadow: 0 0 12px var(--shadow-light);
}

.day_temperature{
  font-weight: 200;
  text-align: center;
  font-size: var(--font-size-small);
}

.day_temperature_type{
  font-size: var(--font-size-h6);
  font-weight: 800;
  text-align: center;
}

.current_time{
  grid-area: current_time;
  font-size: var(--font-size-h4);
  align-self: center;
  color: var(--text-primary-color);
  justify-self: center;
}

.hours_container{
  grid-area: hours_container;
  display: grid;
  width: 90%;
  grid-template-rows: repeat(5,17%);
  grid-template-columns: repeat(4,22%);
  gap: .05rem 0;
  justify-content: space-between;
  align-content: center;
  padding: var(--padding-l);
  background-color: var(--bg-secondary-color);
  border-radius: var(--border-radius-medium);
  justify-self: center;
  box-shadow: 0 0 12px var(--shadow-light);
}

.hour{
  padding: var(--padding-xs);
  background-color: var(--bg-primary-color);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.hour_time{
  font-size: calc(var(--font-size-small) - .08rem);
}

.hour_precipitation_probability{
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-items: space-between;
  font-size: calc(var(--font-size-small) - .2rem);
}

.yesterday_weather{
  grid-area: yesterday;
  gap: var(--gap-l) var(--gap-l);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 5% 20% 10% 40% 10%;
  grid-template-areas: 
  "day day"
  "day_temperatures_minmax_container weather_code"
  "day_temperatures_minmax_container hours_container"
  "day_temperatures_minmax_container hours_container"
  "day_temperatures_minmax_container hours_container"
  ;
}

.yesterday_weather .hours_container{
  align-self: center;
  justify-self: center;
}

.yesterday_weather .day_temperatures_minmax_container{
  grid-area: day_temperatures_minmax_container;
  display: flex;
  flex-direction: column;
  gap: var(--gap-l) 0;
  width: 80%;
  height: 80%;
  justify-self: center;
  align-self: center;
}

.yesterday_weather .day_temperatures_minmax_container .day_temperature_minmax .day_temperature{
  font-size: var(--font-size-h6);
  align-self: center;
  text-align: center;
  font-weight: 100;
}

.yesterday_weather .day_temperatures_minmax_container .day_temperature_minmax .day_temperature_type{
  font-size: var(--font-size-h3);
}

.next_days{
  grid-area: nextdays;
  display: grid;
  grid-template-columns: repeat(6,16%);
  grid-template-rows: max-content;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.next_day{
  background-color: var(--accent-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 8px var(--shadow-light);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% min-content 15%;
  grid-template-areas: 
  "dayname dayname"
  "subcontainer subcontainer"
  "precipitation_probabilities precipitation_probabilities"
  ;
  overflow: hidden;
}

.next_day_name{
  padding: calc(var(--padding-m) - .5rem) var(--padding-xxxxxxl);
  width: 96%;
  grid-area: dayname;
  justify-self: center;
  align-self: center;
  background-color: var(--bg-primary-color);
  border-radius: var(--border-radius-medium);
  display: flex;
  justify-content: center;
}

.next_day_subcontainer{
  grid-area: subcontainer;
  display: flex;
  padding: var(--padding-xs);
  gap: 0 var(--gap-xs);
  justify-content: center;
  max-width: 100%;
}

.next_day_temperature{
  background-color: var(--bg-primary-color);
  border-radius: var(--border-radius-medium);
  padding: var(--padding-xs);
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--gap-xs) 0;
}

.next_day_temperature_type{
  font-size: calc(var(--font-size-small) - .1rem);
  font-weight: 200;
}

.next_day_temperature_minmax{
  font-weight: 800;
}

.next_day_precipitation_probilities{
  grid-area: precipitation_probabilities;
  justify-self: center;
  align-self: center;
  font-size: var(--font-size-p);
  font-size: calc(var(--font-size-small) - .1rem);
  padding-bottom: var(--padding-xs);
}

@media screen and (max-width: 1000px) {
  .day_temperature{
    font-size: calc(var(--font-size-small) - .1rem);
  }
  main .day_temperatures_minmax_container .day_temperature_minmax{
    height: 50%;
  }
}

@media screen and (max-width: 910px) {
  #root{
    grid-template-columns: 100%;
    grid-template-rows: 102% 102% max-content;
    grid-template-areas: 
    "today"
    "yesterday"
    "nextdays"
    ;
    background-color: var(--bg-primary-color);
    gap: var(--gap-xs) var(--gap-xs);
    justify-content: center;
  }
  .hours_container{
    width: 80%;
  }
}

@media screen and (max-width: 815px) {
  .next_days{
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: 55% 55%;
    gap: var(--gap-l);
  }
  .hours_container{
    width: 85%;
  }
} 

@media screen and (max-width: 550px) {
  .current_time{
    font-size: var(--font-size-h5);
  }
}
 
@media screen and (max-width: 525px) {
  .hours_container .yesterday_weather .hours_container{
    width: 100%;
  }
  .next_days{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: max-content max-content max-content;
    padding: var(--padding-l) 0;
  }

  .next_day{
    grid-template-rows: 35% max-content max-content;
  }
}

@media screen and (max-width: 360px) {
  .current_time{
    font-size: var(--font-size-h6);
  }
  .hour{
    padding: .5rem .2rem;
  }
  main{
    grid-template-columns: 40% 55%;
  }
  .yesterday_weather{
  grid-template-columns: 40% 60%;
  }
  .yesterday_weather .day_temperatures_minmax_container .day_temperature_minmax{
    height: 40%;
  }
}

@media screen and  (max-width: 460px) {
  main .day_temperatures_minmax_container{
    flex-direction: column !important;
    align-items: center;
    grid-template-rows: repeat(2, 50%);
    justify-content: space-between !important;
    gap: var(--gap-xs) 0;
  }
  main .da .day_temperature_minmax{
    width: 100% !important;
    height: 90% !important;
  }
}